.dashboard-table {
    border-top: 0 !important;
    border-right:0px !important;
    border-left:0px !important;
    border-color:#fff !important;   
}
.dashboard-head {
    text-align: right;
    border: 0 !important;
}
.dashboard-title {
    transform: rotate(270deg) !important;
    /*padding-left:10px*/;
    color:#000;
    padding-top:40px;
    padding-bottom:27px;
}
.dashboard-img  img{
    width: 141px;
    height: 62px;
    border-radius: 10px;
    border: 2px solid #EEE;
}
.dashboad-img-align {
    float: right;
}
.dashboard-img-heading {
    border:none !important;
}
.dashboard-table thead tr {
    border-left:0 !important;
    border-right:0 !important;
}
.column-available {
    background:#fff;
}
.column-available-block {
    background-color: rgb(162, 232, 184);
}
.dashboard-table td.dashboard-table-column-border-white {
    border-right: 5px solid #fff !important;
}
.table.table-bordered  td {
    border-color: #fff !important;
    padding-left:7px;
}
.dashboard-table td.dashboard-table-column-border-green {
    border-right: 5px solid rgb(162, 232, 184) !important;
}
.column-sold {
    background: rgb(255, 255, 153) !important;
}
.dashboard-table td.dashboard-table-column-border-yellow {
    border-right: 5px solid rgb(255, 255, 153) !important;
}
.column-reserved {
    background-color: rgb(211, 190, 233);
}
.dashboard-table td.dashboard-table-column-border-reserved {
    border-right: 5px solid rgb(211, 190, 233) !important;
}
.column-blocked {
    background-color: rgb(140, 160, 255);
}
.dashboard-table td.dashboard-table-column-border-blocked {
    border-right: 5px solid rgb(140, 160, 255) !important;
}
.column-resale {
    background-color: rgb(255, 193, 193);
}
.dashboard-table td.dashboard-table-column-border-resale {
    border-right: 5px solid rgb(140, 160, 255) !important;
}
.column-total {
    background-color: #fff !important;
}
.dashboard-table td.dashboard-table-column-border-total {
    border-right: 5px solid #fff !important;
}
.table-matrix td, .table-matrix-dashboad-small td, .table-matrix-larg td{
    width: 10px;
    height: 10px;   
    padding: 0px !important;
    cursor: crosshair !important;
}
.table-matrix td {
   background: rgb(140, 160, 255);
}
.table-matrix-dashboad-small td {
   background: rgb(255, 193, 193);
}
.table-matrix-larg td {
    background: rgb(255, 255, 153) !important;
}
.table-wrapper {
    padding-left:0px;
    padding-right:0px;
}
.div-wrapper-table {
    padding-left:0px;
}
.dashboard-table {
    text-align:right;
}


@media(max-width: 767px) {
   
    
    .dashboad-img-align {
        float: none;
    }
    .dashboard-img {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .dashboard-img img {
        width: 150px;
        display: inline-block;
    }
}

@media(max-width: 479px) {
    .table-container {
        padding-left: 0px;
        padding-right: 0;
    }
    
    .dashboard-table {
        text-align: right;
        width: 100%;
        display: block;
        overflow: scroll;
    }
}

