<div id="paletteDraggable" class="draggable" style="height: 300px;">
    <div id="paletteDraggableHandle" class="handle">Palette</div>
    <div id="paletteContainer">
        <div id="myPaletteDiv"></div>
    </div>
</div>

<div id="infoDraggable" class="draggable" style="display: inline-block; vertical-align: top; padding: 5px; top: 20px; left: 380px;">
    <div id="infoDraggableHandle" class="handle">Info</div>
    <div>
        <div id="myInfo"></div>
    </div>
</div>

<div style="display: inline-block; vertical-align: top; width:400px">
    <div id="myDiagramDiv" style="background-color: whitesmoke; border: solid 1px black; height: 400px"></div>
</div>