
<div style="width:100%; white-space:nowrap;">
    <span style="display: inline-block; vertical-align: top">
        <div id="accordion">
            <h4>Small items</h4>
            <div>
                <div id="myPaletteSmall" style="width: 140px; height: 360px"></div>
            </div>
            <h4>Tall items</h4>
            <div>
                <div id="myPaletteTall" style="width: 140px; height: 360px"></div>
            </div>
            <h4>Wide items</h4>
            <div>
                <div id="myPaletteWide" style="width: 140px; height: 360px"></div>
            </div>
            <h4>Big items</h4>
            <div>
                <div id="myPaletteBig" style="width: 140px; height: 360px"></div>
            </div>
        </div>
    </span>
    <span style="display: inline-block; vertical-align: top; width:80%">
        <div id="myDiagramDiv" style="border: solid 1px black; height: 500px"></div>
    </span>
</div>
<pre id="savedModel" style="visibility:hidden"></pre>
