<!DOCTYPE html>
<html>
<head>
    <title>INVOICE</title>
    <link rel="stylesheet" type="text/css" href="print.css" media="all">
</head>
<body>
    <!--Content-->
    <div class="container">
        <div class="faq-cta-container">
        </div>
        <article>
            <div style="text-align: center;">
                <img src="/directPortal/modules/marketingmaterial/images/materials/logos/{{reservation.Building.ID}}.svg" alt="">
            </div>
            <h1 class="text-center">
                AGREEMENT TO PURCHASE AND SALE CONDOMINIUM UNIT OF "{{reservation.Building.Name}}"<br /> CONTRACT NO.  602
            </h1>
            <p>
                This Agreement is entered into on Aug 09, 2014 between Life in City Garden 169 Co.,Ltd. represented by Mr. Yigal Yonah Heli authorized person acting on behalf of the juristic person (details of which appear in attachment to this Agreement as the integral part of this Agreement), having its office located at no 296/97 Moo. 10, Pattaya 2nd Road, Nongprue Sub-district, Banglamung District, Chonburi Province, Postal Code 20150 Thailand (hereinafter referred to as the “Seller” of the one part, and:
            </p>

            <p>
                This Agreement is entered into on Aug 09, 2014 between Life in City Garden 169 Co.,Ltd. represented by Mr. Yigal Yonah Heli authorized person acting on behalf of the juristic person (details of which appear in attachment to this Agreement as the integral part of this Agreement), having its office located at no 296/97 Moo. 10, Pattaya 2nd Road, Nongprue Sub-district, Banglamung District, Chonburi Province, Postal Code 20150 Thailand (hereinafter referred to as the “Seller” of the one part, and:
            </p>

            <p>
                This Agreement is entered into on Aug 09, 2014 between Life in City Garden 169 Co.,Ltd. represented by Mr. Yigal Yonah Heli authorized person acting on behalf of the juristic person (details of which appear in attachment to this Agreement as the integral part of this Agreement), having its office located at no 296/97 Moo. 10, Pattaya 2nd Road, Nongprue Sub-district, Banglamung District, Chonburi Province, Postal Code 20150 Thailand (hereinafter referred to as the “Seller” of the one part, and:
            </p>

            <p>
                This Agreement is entered into on Aug 09, 2014 between Life in City Garden 169 Co.,Ltd. represented by Mr. Yigal Yonah Heli authorized person acting on behalf of the juristic person (details of which appear in attachment to this Agreement as the integral part of this Agreement), having its office located at no 296/97 Moo. 10, Pattaya 2nd Road, Nongprue Sub-district, Banglamung District, Chonburi Province, Postal Code 20150 Thailand (hereinafter referred to as the “Seller” of the one part, and:
            </p>
            <ol>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
                <li>
                    What is Lorem Ipsum?
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>
            </ol>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Fee</th>
                        <th>Deposit</th>
                        <th>Withdraw</th>
                        <th>Processing</th>
                        <th>Limit (per transaction) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="bank-logo-color maybank"></i>
                        </td>
                        <td>0.00%</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Instant</td>
                        <td>$10-$5000</td>
                    </tr>
                    <tr>
                        <td><i class="bank-logo-color public-bank"></i></td>
                        <td>0.00%</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Instant</td>
                        <td>$10-$5000</td>
                    </tr>
                    <tr>
                        <td><i class="bank-logo-color aba-bank"></i></td>
                        <td>0.00%</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Instant</td>
                        <td>$10-$5000</td>
                    </tr>
                    <tr>
                        <td><i class="bank-logo-color wing"></i></td>
                        <td>0.00%</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Instant</td>
                        <td>$10-$5000</td>
                    </tr>
                    <tr>
                        <td><i class="bank-logo-color aceleda"></i></td>
                        <td>0.00%</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Instant</td>
                        <td>$10-$5000</td>
                    </tr>
                    <tr>
                        <td><i class="bank-logo-color canadia"></i></td>
                        <td>0.00%</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Instant</td>
                        <td>$10-$5000</td>
                    </tr>
                </tbody>
            </table>

        </article>
        <div class="signature-section left">
            <div class="signature">
                <label>Signed</label>...............................<label>Authorize Representative</label>
                <div class="signature-name">(N/A)</div>
            </div>
            <div class="signature">
                <label>Signed</label>...............................<label>Sales Person</label>
                <div class="signature-name">( {{reservation.SalesPerson.Name}} )</div>
            </div>
        </div>
        <div class="signature-section right">
            <div class="signature">
                <label>Signed</label>.........................................<label>Authorized Person</label>
                <div class="signature-name">(N/A)</div>
            </div>
            <div class="signature">
                <label>Signed</label>.............................................<label>Sales Admin</label>
                <div class="signature-name">( N/A)</div>
            </div>
        </div>
    </div><!--EOF Content-->

</body>
</html>