<div class="app app-default">
    <ng-include src="'../directPortal/modules/salesapp/templates/sidebar.html'" include-replace></ng-include>
    <div class="app-container">
        <ng-include src="'../directPortal/modules/salesapp/templates/navbar.html'" include-replace></ng-include>
        <div ui-view></div>
        <footer class="app-footer">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-copyright">
                        Copyright © 2017 Direct Portal.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

