<!DOCTYPE html>
<html>
<head>
	<title>INVOICE</title>
	<link rel="stylesheet" type="text/css" href="print.css" media="all">
</head>
<body>
<div class="doucment-wrapper">
	<div class="document-header">
		<div class="agency-logo">
			<img src="images/logo1.png">
		</div>
		<h3 class="document-title">
			ORIGINAL<br/>
			Sales Receipt
		</h3>
		<div class="logo">
			<img src="images/logo.png">
		</div>
	</div>
	<div class="invoice">
		<table class="no-border">
			<tr>
				<td>
					<dl class="dl-horizontal left">
					  <dt>Project: </dt>
					  <dd> City Garden Tower</dd>
					  <dt>Company Name: </dt>
					  <dd>Life in City Garden 169 Co.,Ltd.</dd>
					  <dt>Company Address: </dt>
					  <dd>296/97 Moo. 10, Pattaya 2nd Rd, Nongprue, Banglamung, Chonburi 20150 Thailand </dd>
					  <dt>Tax Identification Number:</dt>
					  <dd>0205554007846</dd>
					  <dt>Tel:</dt>
					  <dd>+66(0) 9-1003-8070</dd>
					  <dt>Email:</dt>
					  <dd>ar.tcd@globaltopgroup.com</dd>
					</dl>
				</td>
				<td>
					<div>
						Invoice No: <span>AAAA.16</span>
					</div>
					<div>
						Date: <span>02/05/16</span>
					</div>
					<div>
						Building: <span>The Cloud</span>
					</div>
					<div>
						Unit No: <span>101 [AAAA]</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>Customer: <span>Mr. Meily Chhon</span></div>
				</td>
				<td>
					<div>Telephone Number: <span>+49 171231793 </span></div>
				</td>
			</tr>
			<tr>
				<td>Address: Frieden Str.13 76694 Forst,Germany</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>No.</td>
				<td>Description</td>
				<td>Amount / Baht</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Installment 6 Payment of The Cloud unit 101</td>
				<td>65,625.00 </td>
			</tr>
			<tr>
				<td>2</td>
				<td>Installment 7 Payment of The Cloud unit 101</td>
				<td>65,625.00 </td>
			</tr>
			<tr>
				<td></td>
				<td>Remark:Estimated total 3,750 USD (1 USD approx. 35.00 THB.)</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="2" class="text-center">One Hundred and Thirty-One Thousand, Two Hundred and Fifty Thai Baht Only</td>
				<td>131,250.00.</td>
			</tr>
		</table>

		<div class="sold-by">
			<div class="left">
				Paid By: <input type="checkbox" /> Cash <input type="checkbox" /> Cheque <input type="checkbox" /> Credit Card <input type="checkbox" /> Bank Transfer
			</div>

			<div class="right">
				Sold By: <span class="">Mr. Feliciano Noli Leyson IV</span>	
			</div>
			
		</div>
		<div style="width: 100%;">
			<div class="left" style="width: 50%;">
				<label>Signed</label>...............................<br/><label>Customer Name</label>
				<div class="signature-name">( Ms. Paweena Trichak )</div>
			</div>	
		</div>
		

		<div class="right">
			<label>Signed</label>.........................................<br/><label>Receiver’s Name</label>
			<div class="signature-name">( Mr. Yigal Yonah Heli )</div>
		</div>

		
		<table class="no-border note-bottom">
			<tr>
				<td>
					<dl class="dl-horizontal left" style="width: 50%">
					  <dt>Account Name: </dt>
					  <dd>Life In City Garden 169 Co., Ltd.</dd>
					  <dt>Beneficiary’s Bank : </dt>
					  <dd>Kasikorn bank Public Company Limited</dd>
					  <dt>Swift : </dt>
					  <dd>KASITHBK</dd>
					  <dt>Account Number:</dt>
					  <dd>389-2-49778-7</dd>
					  <dt>Account :</dt>
					  <dd>Saving Account</dd>
					  <dt>Bank Address :</dt>
					  <dd>78/54-56 2nd floor Central Center Pattaya Building Moo 9 Pattaya Second Road Nongprue Banglamung Chonburi 20150 Thailand</dd>
					</dl>
				</td>
				<td>
					<div class="box dash-border" style="width: 100%; float: right;">
						For internal use:<br />
						<div style="text-align: right;">
							________________________<br />
							Raj <br />
							Accountant Name <br />
							<br />
							<br />
							<br />
							<br />
							<br />
						</div>
						Accounting internal ref. number: __________________
					</div>
				</td>
			</tr>
		</table>
		
		<div class="text-center" style="width: 100%; display: inline-block;">
			**THIS RECEIPT IS ONLY VALID WHEN THE CHEQUE HAS DULY CLEARED AND WHEN SIGNED BY AN AUTHORIZED PERSON*
		</div>
	</div>
</div>
</body>
</html>