<!DOCTYPE html>
<html>
<head>
	<title>PRE-RESERVATION FOR CUSTOMER</title>
	<link rel="stylesheet" type="text/css" href="print.css" media="all">
</head>
<body>
<div class="doucment-wrapper">
	<div class="document-header">
		<div class="logo">
			<img src="images/logo.png">
		</div>
		<h3 class="document-title">
			CANCELLATION FORM
		</h3>
		<div class="doc-reference">
			<a href="#">ref [ABAX]</a>
		</div>
		<HR>
	</div>
	<div class="sale-date">
		<div class="sales-person">
			<h5>Sales Persons:	Ms. Paweena Trichak</h5>
		</div>
		<div class="issue-date">
			<label>Date:</label><span>Sunday, May 01, 2016</span>
		</div>
	</div>
	<div class="table-container">
		<table>
			<tr>
				<td>Prject Name</td>
				<td>City Garden Tower</td>
				<td>Unit No.</td>
				<td>1408</td>
				<td>Quota</td>
				<td colspan="3">Thai</td>
			</tr>
			<tr>
				<td>
					Approximate Area
				</td>
				<td>
					35.00 Sqm
				</td>
				<td colspan="1">
					Room Type
				</td>
				<td colspan="3">
					1 Bedroom
				</td>
			</tr>
			<tr>
				<td>
					Actual Price
				</td>
				<td>
					2,069,600 THB
				</td>
				<td>
					Price per Sqm
				</td>
				<td colspan="3">
					88,200.00 THB
				</td>
			</tr>
			<tr>
				<td>
					Selling Price
				</td>
				<td>
					3,087,000 THB
				</td>
				<td>
					Discount Amount
				</td>
				<td colspan="3">
					0 THB
				</td>
			</tr>
			<tr>
				<td colspan="1" class="no-border-right">
					Customer Name
				</td>
				<td colspan="5" class="no-border-left">
					Ms. Porntip Khobjai
				</td>
			</tr>
			<tr>
				<td>
					Nationality
				</td>
				<td>
				 	Thai
				</td>
				<td>
					ID / Passport No.
				</td>
				<td colspan="3">
					 3 1009 02972 66 2
				</td>
			</tr>
			<tr>
				<td>
					 Addresss
				</td>
				<td>
				 	20/138 Soi Sua Yai Uthit, Chankasem, Chatuchak, Bangkok
				</td>
				<td>
					Postcode
				</td>
				<td colspan="3">
					10900
				</td>
			</tr>
			<tr>
				<td>
					Email
				</td>
				<td>
					Sookjai-tip@hotmail.com
				</td>
				<td>
					Telephone No.
				</td>
				<td colspan="3">
					089-201-8209, 086-351-7543
				</td>
			</tr>
			<tr>
				<td>
					Agency
				</td>
				<td>
					Unknown Yet
				</td>
				<td>
					Walk in at
				</td>
				<td colspan="3">
					N/A
				</td>
			</tr>
		</table>
	</div>
	<h5>Cancellation Detail:</h5>
	<div class="box">
		<strong>Current Prices</strong> <br/>
		<strong>Thai Quota Price Per SQM:</strong> <span class="currency">THB <span class="price">96,631</span></span> <br/>
		<strong>Foregin Quota Price Per SQM:</strong> <span class="currency">THB</span> <span class="price">102,441 </span><br/>
	</div>

	<div class="box">
		<table class="no-border">
			<tr>

				<td>[ ] Put the unit back to market</td>
				<td>[ ] Block this unit</td>
			</tr>
			<tr>
				<td> Thai quota qrice qer sqm: ____________________THB</td>
				<td> Thai quota qrice qer sqm: ____________________THB</td>
			</tr>
		</table>
	</div>
	
	<div class="signature-section left">
		<div class="signature">
			<label>Signed</label>...............................<label>Sales Person</label>
			<div class="signature-name">( Ms. Paweena Trichak )</div>
		</div>
		<div class="document-mark">
			<span>Created by: ............................</span>
			<br>
			<span>Verified by: ............................</span>
		</div>
	</div>
	<div class="signature-section right">
		<div class="signature">
			<label>Signed</label>.........................................<label>Authorized Person</label>
			<div class="signature-name">( Mr. Yigal Yonah Heli )</div>
		</div>
		<div class="signature">
			<label>Signed</label>.............................................<label>Sales Admin</label>
			<div class="signature-name">( Ms. Maytinee Moolmung )</div>
		</div>
	</div>
</div>
</body>
</html>