
<div class="matrix-container director-matrix">
    <div class="building-matrix">
        <div class="page-title">
            <button class="btn-full-screen">Full Screen</button>
            <h5><strong> City Garden Tower - 19-Apr-2017</strong></h5>
        </div>
        <div class="white-page-content">
            <div class="building-floor">
                <div class="row-number">
                    <span>8</span>
                </div>
                <div class="grid-1 single-unit">
                    <div class="table-heading">
                        UNIT No. <br /> Sq.m
                    </div>
                    <div class="heading-text thai">
                        <span class="currency-type">T</span>
                        <div class="measurement">
                            <span>Per Sq.m</span>
                            <span>Total</span> 
                        </div>
                        
                    </div>
                    <div class="heading-text foreign">
                        <span class="currency-type">F</span>
                        <div class="measurement">
                            <span>Per Sq.m </span>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="heading-text detail">
                        <span>DETAILS</span>
                    </div>
                </div>
                <div class="grid-1 single-unit sold corner-unit">
                    <div class="single-unit-content">
                        <div class="unit-info first-row">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info second-row">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info third-row">
                            <!--<span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />-->
                            <div class="payment-status">
                                <span class="twenty-percent black"></span>
                                <span class="forty-percent red"></span>
                                <span class="sixty-percent orange"></span>
                                <span class="eighty-percent dark-green"></span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                        </div>
                        
                        <div class="unit-info fourth-row">
                            
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon contract-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit blocked corner-unit">
                    <div class="single-unit-content">
                        <div class="unit-info first-row">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info second-row">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info third-row">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit reserved little-paid">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon reserved-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="building-floor">
                <div class="row-number">
                    <span>8</span>
                </div>
                <div class="grid-1 single-unit">
                    <div class="table-heading">
                        UNIT No. <br /> Sq.m
                    </div>
                    <div class="heading-text thai">
                        <span class="currency-type">T</span>
                        <div class="measurement">
                            <span>Per Sq.m</span>
                            <span>Total</span>
                        </div>

                    </div>
                    <div class="heading-text foreign">
                        <span class="currency-type">F</span>
                        <div class="measurement">
                            <span>Per Sq.m </span>
                            <span>Total</span>
                        </div>
                    </div>
                    <div class="heading-text detail">
                        <span>DETAILS</span>
                    </div>
                </div>
                <div class="grid-1 single-unit sold corner-unit">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="sold-in-foreign-name left-side">F</span>
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        <div class="unit-info">
                            <div class="payment-status">
                                <span class="twenty-percent black lower-than-five-hundred"></span>
                                <span class="forty-percent red"></span>
                                <span class="sixty-percent orange"></span>
                                <span class="eighty-percent dark-green"></span>
                                <span class="hundred-percent light-green">
                                    <i class="matrix-icon furnished-icon" aria-hidden="true"></i>
                                </span>

                            </div>
                            <a class="date-contract-sign" href="#">
                                <i class="matrix-icon contract-icon" aria-hidden="true"></i>
                                <span class="signed-date">14-03-15</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-1 single-unit blocked corner-unit">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>

                        
                    </div>
                </div>
                <div class="grid-2 single-unit available">
                    <div class="single-unit-content">
                        <div class="unit-info">
                            <strong>
                                <span class="unit-number-uid">2910</span>
                                <span class="unit-type">1BR</span>
                                <span class="unit-subtype">A</span>
                            </strong>
                            <br />
                            <span class="unit-size">25.50</span>
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-thai-name">T</span></span><br />
                            <span class="total-price-thai">1,900,000<span class="sold-in-thai-name">T</span></span><br />
                        </div>
                        <div class="unit-info">
                            <span class="price-per-sqr">74.5<span class="sold-in-foreign-name">F</span></span><br />
                            <span class="total-price-foreign">1,900.000<span class="sold-in-foreign-name">F</span></span><br />
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="white-page-content unit-number-row">

        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <div class="grid-1 bg-danger">
        a
    </div>
    <div class="grid-2 bg-primary">
        a
    </div>
    <div class="grid-3 bg-warning">
        a
    </div>
    <div class="grid-4 bg-info">
        a
    </div>
    <div class="grid-5 bg-primary">
        a
    </div>
    <div class="grid-6 bg-danger">
        a
    </div>
    <div class="grid-7 bg-info">
        a
    </div>
    <div class="grid-8 bg-warning">
        a
    </div>
    <div class="grid-9 bg-warning">
        a
    </div>
    <div class="grid-10 bg-danger">
        a
    </div>
    <div class="grid-11 bg-success">
        a
    </div>
    <div class="grid-12 bg-primary">
        a
    </div>
</div>-->