<div class="upload-evidence">
    <h1 class="page-title">Upload Evidence</h1>
    <div class="widget">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline upload-evidence-form">
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input id="input-upload" type="file" class="form-control">
                    </div>
                    <button type="button" class="btn btn-default">Upload</button>
                </form>

            </div>
            <div class="col-xs-12">
                <div>
                    <img src="{{previewUrl}}" class="img-responsive" />
                </div>
            </div>

        </div>
    </div>
    
</div>

