<!-- Footer
    ================================================== -->
<div id="footer">
    <span id="scrollTop" class="pull-right">
        <a href="#top-navigation" class="btn btn-default btn-sm hidden-lg hidden-md hidden-sm" data-toggle="tooltip" data-title="Back to Top" data-placement="top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </span>
    <div class="visible-lg-block text-center">
        &copy; {{year}} Direct Portal. All Rights Reserved.
    </div>
</div><!-- end #footer -->
