<style>
    .main-menu .card {
        margin-bottom: 20px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body app-heading">
                    <img class="profile-img" src="/directPortal/modules/salesapp/assets/images/profile.png">
                    <div class="app-title">
                        <div class="title"><span class="highlight">Scott White</span></div>
                        <div class="description">Sales Person</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 main-menu">
            <div class="card">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center">
                    <a ui-sref="sales.phonebook">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-2x fa-book" aria-hidden="true"></i>
                                <h5>Phonebook</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center">
                    <a ui-sref="sales.listreservation">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-2x fa-book" aria-hidden="true"></i>
                                <h5>List Reservation</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center">
                    <a ui-sref="sales.building">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-2x fa-calendar-check-o"></i>
                                <h5>Quick Booking</h5>
                            </div>
                        </div>
                    </a>
                </div>
                
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center">
                <a ui-sref="sales.projects">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-2x fa-building-o"></i>
                            <h5>Projects</h5>
                        </div>
                    </div>
                </a>
            </div>-->

                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center">
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-2x fa-check"></i>
                                <h5>Quick Approve</h5>
                            </div>
                        </div>
                    </a>
                </div>-->
                <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 text-center">
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa fa-2x fa-clock-o"></i>
                                <h5>Today</h5>
                            </div>
                        </div>
                    </a>
                </div>-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="tel:{{hotline}}" class="btn btn-default btn-social __facebook btn-block">
                        <div class="text-center">
                            <i class="icon fa fa-phone" aria-hidden="true"> Call Sales Hotline </i> 
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>