<h2 class="page-title">Task List</h2>
<div class="widget">
    <div class="row">
        <div class="col-xs-12 col-lg-12">

            <table class="table">
                <thead>
                    <tr>
                        <td ng-repeat="col in cols">{{col}}</td>
                        <td>Action(s)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasks">
                        <td>{{task.id}}</td>
                        <td>{{task.category}}</td>
                        <td>{{task.description}}</td>
                        <td><a ui-sref="app.buildingmanagement.taskdetail({taskId:task.id})"><i class="fa fa-search"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>