<h1 class="page-title">Create Unit Sub Type</h1>
<div class="widget">
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input ng-model="unitSubType.name" type="text" class="form-control" id="name">
                </div>
                <input ng-click="submit()" type="button" class="btn btn-default btn-sm" value="Create" />
            </form>
        </div>
    </div>
</div>
   
